.note {
   border: 1px solid black; 
   margin: 5px   
}

.note-title {
    width: 100%;
    display: inline;
}

.note-descr {
    background-color: grey;
    width: 100%;
    text-align: center;
}

.note-title input {
    width: 85%;    
}

.note-title button {
    width: 15%;
}

.note-descr textarea {    
    width: 100%;
        
    resize: none;    
}
