.note {
   border: 1px solid black; 
   margin: 5px   
}

.note-title {    
    display: inline-flex;
}

.note-title > span {
    width: 20px;    
    margin: auto;
    padding: 2%;
}

.note-title > input {
    width: 85%;  
    padding: 0 5px;  
}

.note-title > button {
    width: 10%;
}

.note-descr {
    background-color: grey;
    width: 100%;
    text-align: center;
}

.note-descr textarea {    
    width: 100%;        
    resize: none;    
}